<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!--使用jdbc的getGeneratedKeys 获取数据库自增主键值 -->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用列别名替换列名 默认true -->
        <setting name="useColumnLabel" value="true"/>
        <!--开启驼峰命名转化 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!--打开延迟加载开关，默认false-->
        <!--<setting name="lazyLoadingEnabled" value="true"/>-->
        <!--将积极加载改为消极加载，即按需加载，默认true-->
        <!--<setting name="aggressiveLazyLoading" value="false"/>-->
    </settings>

    <typeAliases>
        <typeAlias alias="Integer" type="java.lang.Integer"/>
        <typeAlias alias="Long" type="java.lang.Long"/>
        <typeAlias alias="String" type="java.lang.String"/>
        <typeAlias alias="HashMap" type="java.util.HashMap"/>
        <typeAlias alias="LinkedHashMap" type="java.util.LinkedHashMap"/>
        <typeAlias alias="ArrayList" type="java.util.ArrayList"/>
        <typeAlias alias="LinkedList" type="java.util.LinkedList"/>

        <!--扫描data包，使用别名 -->
        <package name="com.xylink.handle.domain"/>
    </typeAliases>
</configuration>
